* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  font-family: Segeo UI Historic, Segeo UI, Helvetica, Arial, sans-serif;
}

h2 {
  color: #737272;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  background-color: white;
  padding: 0.625rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.0509803922);
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.75rem;
  z-index: 2;
}
.navbar__left {
  flex: 25% 0 0;
  max-width: 21.875rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.625rem;
}
.navbar__middle {
  flex: 50% 0 0;
  max-width: 36.25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  font-size: 1.5rem;
}
.navbar__middle-icon {
  width: 100%;
  height: 3.75rem;
  color: #656565;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.navbar__right {
  flex: 25% 0 0;
  max-width: 21.875rem;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.625rem;
}
.navbar__right-icons {
  background-color: #F1F2F6;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;
}
.navbar__right img {
  width: 100%;
}
.navbar .search input {
  width: 100%;
  border: none;
  background-color: #F1F2F6;
  padding: 1.25rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  padding-right: 0.625rem;
}

@media (max-width: 47.9375rem) {
  .navbar {
    flex-wrap: wrap;
    height: 7.5rem;
    padding: 0;
  }
  .navbar__left {
    flex: 45% 0 0;
    padding-top: 0.625rem;
    padding-left: 0.625rem;
  }
  .navbar__middle {
    flex: 100% 0 0;
    max-width: 100%;
    font-size: 1.2rem;
  }
  .navbar__right {
    position: absolute;
    right: 0.625rem;
    top: 0.625rem;
  }
}
.active {
  color: #1b75e5;
  position: relative;
}

.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: #1b75e5;
}

.page-content__left {
  flex: 25% 0 0;
  max-width: 21.875rem;
  padding: 0 1.25rem;
  font-weight: 600;
}
.page-content__left .btn a {
  color: #1b75e5;
}
.page-content__left .menu {
  margin-top: 1.25rem;
}
.page-content__left .menu li {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 0.625rem;
  cursor: pointer;
}
.page-content__left .menu i {
  font-size: 1.5rem;
  background-color: #F1F2F6;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.page-content__left .menu img {
  background-color: #F1F2F6;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.page-content__left .short-sec {
  margin-top: 0.9375rem;
  border-top: 0.0625rem solid #dbdbdb;
  padding-top: 0.625rem;
}
.page-content__left .see-more {
  width: 100%;
  background-color: #dedede;
  padding: 0.625rem;
  font-weight: bold;
  border-radius: 0.3125rem;
  text-align: center;
}

@media (max-width: 47.9375rem) {
  .page-content__left {
    display: none;
  }
}
.page-content {
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: 0;
  margin-top: 4.375rem;
  margin-bottom: 1.875rem;
}

@media (max-width: 47.9375rem) {
  .page-content {
    margin-top: 8.125rem;
  }
}
.page-content__center {
  flex: 50% 0 0;
  max-width: 36.25rem;
  padding: 0 0.625rem;
}
.page-content__center .stories {
  position: relative;
  width: 100%;
  height: 12.5rem;
  overflow: hidden;
}
.page-content__center .stories .stories-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  width: -moz-fit-content;
  width: fit-content;
}
.page-content__center .stories .stories-boxes .add-story {
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
  background-color: rgba(220, 220, 220, 0.7);
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border: 0.125rem solid white;
  color: white;
}
.page-content__center .stories .stories-boxes .story-box {
  position: relative;
  width: 6.25rem;
  height: 11.875rem;
  border-radius: 0.625rem;
  overflow: hidden;
  background-color: #7d7d7d;
}
.page-content__center .stories .stories-boxes .profile {
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
  background-color: rgba(220, 220, 220, 0.7);
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border: 0.125rem solid white;
}
.page-content__center .stories .stories-boxes .story {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-content__center .stories .stories-boxes .txt {
  position: absolute;
  bottom: 0.625rem;
  left: 0.625rem;
  color: white;
  font-weight: bold;
}
.page-content__center .stories .scroll-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: white;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}
.page-content__center .card {
  background-color: white;
  border-radius: 0.375rem;
  border: 0.0625rem solid #e0e0e0;
  margin-top: 0.9375rem;
}
.page-content__center .card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  padding: 0.625rem;
}
.page-content__center .card-header img {
  background-color: rgba(220, 220, 220, 0.7);
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin-right: 0.625rem;
}
.page-content__center .card-header .card-title {
  line-height: 1.5;
  margin-right: auto;
}
.page-content__center .card-header .card-name {
  font-weight: bold;
}
.page-content__center .card-header .sponsored {
  color: #9e9e9e;
  font-size: 0.875rem;
}
.page-content__center .content {
  padding: 0.625rem;
}
.page-content__center .card-img {
  background-color: #f0f0f0;
  border-bottom: 0.0625rem solid #e0e0e0;
  margin-bottom: 0.625rem;
}
.page-content__center .card-img img {
  width: 100%;
}
.page-content__center .card-img .img-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 0.625rem;
}
.page-content__center .card-img .img-link .txt-link {
  font-weight: bold;
  color: black;
  max-width: 300px;
}
.page-content__center .card-img .img-link .lrn-more-btn {
  border: none;
  color: black;
  font-weight: bold;
  background-color: #e3e0e0;
  padding: 0.625rem;
  border-radius: 0.3125rem;
}
.page-content__center .likes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3125rem;
  margin: 0 0.625rem 0.625rem;
  border-bottom: 0.0625rem solid #c8c7c7;
  padding-bottom: 0.625rem;
}
.page-content__center .likes .icon {
  background-color: #1b75e5;
  padding: 0.1875rem;
  font-size: 0.625rem;
  color: white;
  border-radius: 50%;
}
.page-content__center .likes span {
  font-size: 0.875rem;
  color: #9e9e9e;
}
.page-content__center .action-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  padding: 0.625rem;
  color: #7d7d7d;
}
.page-content__center .share-field {
  background-color: white;
  border-radius: 0.375rem;
  border: 0.0625rem solid #e0e0e0;
  margin-top: 0.9375rem;
  padding: 0.625rem;
}
.page-content__center .share-field .top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
}
.page-content__center .share-field .top .thoughts {
  flex: 1;
}
.page-content__center .share-field .top .thoughts input {
  width: 100%;
  border: none;
  background-color: #F1F2F6;
  padding: 1.25rem;
  height: 2.5rem;
  border-radius: 1.25rem;
}
.page-content__center .share-field .actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  margin-top: 0.625rem;
  padding: 0.625rem;
  color: #7d7d7d;
  border-top: 0.0625rem solid #c8c7c7;
}

@media (max-width: 47.9375rem) {
  .page-content__center {
    flex: 100% 0 0;
    width: 100%;
    max-width: 100%;
  }
  .page-content__center .stories .scroll-btn {
    display: none;
  }
}
.page-content__right {
  flex: 25% 0 0;
  max-width: 21.875rem;
  padding: 0 1.25rem;
  font-weight: 600;
}
.page-content__right .birthdays {
  margin-bottom: 1.25rem;
  border-bottom: 0.0625rem solid #dbdbdb;
}
.page-content__right .birthdays .birth-friends {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.625rem;
  padding: 1.25rem 0;
}
.page-content__right .birthdays .birth-friends p {
  color: #a3a3a3;
  font-weight: normal;
}
.page-content__right .birthdays .birth-friends p span {
  color: black;
  font-weight: bold;
}
.page-content__right .birthdays .birth-friends img {
  width: 2.5rem;
  height: 2.5rem;
}
.page-content__right .contacts .contacts-list {
  margin-top: 1.25rem;
}
.page-content__right .contacts .contacts-list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 0.625rem;
  cursor: pointer;
}
.page-content__right .contacts .contacts-list .image {
  background-color: #F1F2F6;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.page-content__right .contacts .contacts-list .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.page-content__right .contacts .contacts-list .online {
  position: relative;
}
.page-content__right .contacts .contacts-list .online::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: green;
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  z-index: 1;
  border: 0.125rem solid white;
}
.page-content__right .contacts .contacts-list .act-story {
  border: 0.125rem solid #1b75e5;
  padding: 0.125rem;
}

@media (max-width: 47.9375rem) {
  .page-content__right {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */