.page-content__left{
  flex: 25% 0 0;
  max-width: $sidebar-width;
  padding: 0 rem(20);
  font-weight: 600;
  .btn a{
    color: $active-clr;
  }
  .menu{
    margin-top: rem(20);
    li{
      @include flex(start, center);
      margin-bottom: rem(10);
      cursor: pointer;
    }
    i{
      font-size: 1.5rem;
      @include rounded-icon();
    }
    img{
      @include rounded-icon();
    }
  }
  .short-sec{
    margin-top: rem(15);
    border-top: rem(1) solid #dbdbdb;
    padding-top: rem(10);
  }
  .see-more{
    width: 100%;
    background-color: #dedede;
    padding: $primary-padding;
    font-weight: bold;
    border-radius: rem(5);
    text-align: center;
  }
}
@media (max-width: rem(767)){
  .page-content__left{
    display: none;
  }
}