.page-content__center{
  flex: 50% 0 0;
  max-width: $main-ctent-width;
  padding: 0 rem(10);
  .stories{
    position: relative;
    width: 100%;
    height: rem(200);
    overflow: hidden;
    .stories-boxes{
      @include flex(center, center, rem(10));
      width: fit-content;
      .add-story{
        position: absolute;
        top: rem(10);
        left: rem(10);
        @include rounded-icon(rgb(220 220 220 / 70%), rem(50), rem(50));
        border: rem(2) solid white;
        color: white;
      }
      .story-box{
        position: relative;
        width: rem(100);
        height: rem(190);
        border-radius: rem(10);
        overflow: hidden;
        background-color: #7d7d7d;
      }
      .profile{
        position: absolute;
        top: rem(10);
        left: rem(10);
        @include rounded-icon(rgb(220 220 220 / 70%), rem(50), rem(50));
        border: rem(2) solid white;
      }
      .story{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .txt{
        position: absolute;
        bottom: rem(10);
        left: rem(10);
        color: white;
        font-weight: bold;
      }
    }
    .scroll-btn{
      @include flex(center,center,0);
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      background-color: white;
      width: rem(40);
      height: rem(40);
      border-radius: 50%;
      cursor: pointer;
    }
  }
  .card{
    background-color: white;
    border-radius: rem(6);
    border: rem(1) solid #e0e0e0;
    margin-top: rem(15);
  }
  .card-header{
    @include flex(flex-start, center, 0);
    padding: rem(10);
    img{
      @include rounded-icon(rgb(220 220 220 / 70%), rem(50), rem(50));
      margin-right: rem(10);
    }
    .card-title{
      line-height: 1.5;
      margin-right: auto;
    }
    .card-name{
      font-weight: bold;
    }
    .sponsored{
      color: #9e9e9e;
      font-size: rem(14);
    }
  }
  .content{
    padding: rem(10);
  }
  .card-img{
    background-color: $primary-bg;
    border-bottom: rem(1) solid #e0e0e0;
    margin-bottom: rem(10);
    img{
      width: 100%;
    }
    .img-link{
      @include flex(space-between, center, 0);
      padding: rem(10);
      .txt-link{
        font-weight: bold;
        color: black;
        max-width: 300px;
      }
      .lrn-more-btn{
        border: none;
        color: black;
        font-weight: bold;
        background-color: #e3e0e0;
        padding: rem(10);
        border-radius: rem(5);
      }
    }
  }
  .likes{
    @include flex(flex-start, center, rem(5));
    margin: 0 rem(10) rem(10);
    border-bottom: rem(1) solid #c8c7c7;
    padding-bottom: rem(10);
    .icon{
      background-color: $active-clr;
      padding: rem(3);
      font-size: rem(10);
      color: white;
      border-radius: 50%;
    }
    span{
      font-size: rem(14);
      color: #9e9e9e;
    }
  }
  .action-bar{
    @include flex(space-around, center, 0);
    padding: rem(10);
    color: #7d7d7d;
  }
  .share-field{
    background-color: white;
    border-radius: rem(6);
    border: rem(1) solid #e0e0e0;
    margin-top: rem(15);
    padding: $primary-padding;
    .top{
      @include flex(flex-start, center);
      width: 100%;
      .thoughts{
        flex: 1;
        input{
          width: 100%;
          @include rounded-box(40, $primary-clr);
        }
      }
    }
    .actions{
      @include flex(space-around, center, 0);
      margin-top: rem(10);
      padding: rem(10);
      color: #7d7d7d;
      border-top: rem(1) solid #c8c7c7;
    }
  }
}
@media (max-width: rem(767)){
  .page-content__center{
    flex: 100% 0 0;
    width: 100%;
    max-width: 100%;
    .stories .scroll-btn{
      display: none;
    }
  }
}