.navbar{
  @include flex(space-between, center);
  background-color: white;
  padding: $primary-padding;
  box-shadow: 0 3px 8px #0000000d;
  &__left{
    flex: 25% 0 0;
    max-width: $sidebar-width;
    display: flex;
    align-items: center;
  }
  &__middle{
    flex: 50% 0 0;
    max-width: $main-ctent-width;
    @include flex(space-around, center);
  }
  &__right{
    flex: 25% 0 0;
    max-width: $sidebar-width;
    display: flex;
    justify-content: end;
  }

  .search{
    margin-left: rem(10);
    input{
      background-color: #F1F2F6;
      padding: rem(5) rem(10);
      height: rem(40);
      border: none;
      border-radius: rem(20);
    }
  }
}