.navbar{
  @include flex(space-between, center, 0);
  background-color: white;
  padding: $primary-padding;
  box-shadow: 0 3px 8px #0000000d;
  position: fixed;
  top: 0;
  width: 100%;
  height: rem(60);
  &__left{
    flex: 25% 0 0;
    max-width: $sidebar-width;
    @include flex(start, center);
  }
  &__middle{
    flex: 50% 0 0;
    max-width: $main-ctent-width;
    @include flex(space-around, center, 0);
    font-size: 1.5rem;
    &-icon{
      width: 100%;
      height: rem(60);
      color: $icon-clr;
      @include flex(center);
    }
  }
  &__right{
    flex: 25% 0 0;
    max-width: $sidebar-width;
    @include flex(end, center, rem(10));
    &-icons{
      @include rounded-icon();
    }
    img{
      width: 100%;
    }
  }

  .search input{
    width: 100%;
    @include rounded-box(40, $primary-clr);
    padding-right: rem(10);
  }
}
.active{
  color: $active-clr;
  position: relative;
}
.active::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: rem(4);
  background-color: $active-clr;
}